[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  handle_size = -2
  window_state = maximise
[keybindings]
  switch_to_tab_1 = <Alt>1
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
[profiles]
  [[default]]
    use_system_font = False
    visible_bell = True
    background_color = "#300a24"
    cursor_color = "#ababab"
    foreground_color = "#ffffff"
    font = Ubuntu Mono 13
    word_chars = "-A-Za-z0-9,./?%&#_=+@~"
    show_titlebar = False
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
